5.1 PRINT

In [1]:
print('ini kelas integral')

ini kelas Algoritma

In [ ]:
print("ini kelas Integral")

In [ ]:
print("star don't shine without darkness")

In [2]:
print('star don't shine without darkness')

SyntaxError: invalid syntax (Temp/ipykernel_10920/895240873.py, line 1)

In [ ]:
print('He is such a "RICH"')

In [ ]:
print("He is such a "Rich"")

In [ ]:
pelajar = 23
uang_di_tabungan = 1000000
print(pelajar)
print(uang_di_tabungan)
print(pelajar*uang_di_tabungan)

In [ ]:
nama_depan = 'Sahat'
nama_tengah = 'Wahyu'
nama_belakang = 'Sinurat'
print(nama_depan + nama_tengah + nama_belakang)

5.2 INPUT

In [ ]:
nama = input("siapakah nama anda? ")
pekerjaan = input('apakah kegiatan anda sekarang, ' + nama +"? ")
print("semangat "+ kegiatan +" nya yah, " + nama + "!")

5.3 TYPE DATA DAN PYTHON

In [ ]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di bank? ")
print("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)

In [ ]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp "+ str(total_uang))

In [ ]:
type(uang_di_dompet)

In [ ]:
type(uang_di_bank)

In [ ]:
type(total_uang)

In [ ]:
bilangan_satu = input("Masukkan bilangan pertama: ")
bilangan_kedua = input("Masukkan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("jumlah kedua bilangan adalah "+ str(jumlah))

5.4 FORMATTED STRING

In [ ]:
nama = "Vladimir"
pekerjaan = 'guru'
institusi = 'SD Bina Jaya'
print(nama + 'adalah seorang' + pekerjaan + 'di' + institusi +'.')

In [ ]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

In [ ]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}.")

5.5 String Index

In [ ]:
kelas = 'ini kelas integral'

In [ ]:
print(kelas[0:3])

In [ ]:
print(kelas[0:-1])

In [ ]:
print(kelas[5:-1])

In [ ]:
print(kelas[2:-1:3])

In [ ]:
print(kelas[:-3])

In [ ]:
print(kelas[1:])

In [ ]:
print(kelas[:])

5.6 String Methods

In [ ]:
judul = 'Bali Surga Dunia'

In [ ]:
print(len(judul))

In [ ]:
judul.upper()

In [ ]:
judul.lower()

In [ ]:
judul.find('surga')

In [ ]:
judul.find('bali')

In [ ]:
judul.replace('Bali', 'Indonesia')

In [ ]:
judul.replace('bali', 'Indonesia')

In [ ]:
print('Bali' in judul)

In [ ]:
print('bali' in judul)

5.7 Operasi Matematika di Phyton

In [ ]:
print(4+2)
print(4-2)
print(4*2)
print(4/2)
print(4//2)
print(4%2)
print(4**2)
x=3
x+=1
print(x)
x-=2
print(x)
x*=3
print(x)

5.8 Operator Perbandingan di Phyton

In [ ]:
x = 3>2
print(x)
x = 2<3
print(x)
x = 3 >= 2
print(x)
x = 2 <= 3
print(x)
x = 3 == 3
print(x)
x = 3 != 4
print(x)

In [ ]:
x = 2>3
print(x)
x = 3<2
print(x)
x = 2 >= 3
print(x)
x = 3 <= 2
print(x)
x = 3 == 4
print(x)
x = 3 != 3
print(x)

5.9 Operator Logika di Phyton

In [ ]:
buah_manggis = 10
buah_mangga = 15
print(buah_mangis > 8 buah_mangga < 20)

In [ ]:
print(buah_manggis < 8 or buah_mangga < 20)

In [ ]:
print(buah_manggis < 8 or buah_mangga > 20)

In [ ]:
print(not (buah_manggis < 8 or buah_mangga > 20))

5.10 Operator If di Phyton

In [ ]:
nilai = float(input("Nilai anda adalah"))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 dan nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulangi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

In [ ]:
nilai = float(input("Nilai anda adalah"))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50:
    print("Anda mendapatkan nilai D")
    print("Ulangi tahun depan")
else:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

In [ ]:
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + "inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

5.11 While Loop

In [ ]:
a = 0
while a < 5:
    print("Angka " + str(a)+" masih dibawah 5")
    a += 1

In [ ]:
a = 0
while a < 5:
    print(a * '*')
    a += 1