LIST DI PHYTON

In [ ]:
buah =  ['mangga', 'pisang', 'rambutan', 'durian']
print(buah)

In [ ]:
print(buah[0])

In [ ]:
print(buah[2])

In [ ]:
print(buah[-1])

In [ ]:
print(buah[-2])

In [ ]:
buah[0] = 'salak'

In [ ]:
print(buah[0:3])

In [ ]:
#tidak merubah list
print(buah)

METODA LIST

In [ ]:
nama = ['Made','Eka','Dwi']
nama.append('Sari')
print(nama)

In [ ]:
nama.insert(0,'Dewi')
print(nama)

In [ ]:
nama.remove('Eka')
print(nama)

In [ ]:
print('Eka' in nama)

In [3]:
print('Dewi' in nama)

NameError: name 'nama' is not defined

In [ ]:
print(len(nama))

FOR LOOP

In [ ]:
buah = ['manggis','durian','salak','jeruk']
for jenis in buah:
    print(jenis)

In [ ]:
i = 0
while i < len(buah):
    print(buah[i])
    i+=1

FUNGSI RANGE

In [ ]:
angka = range(6)
print(angka)

In [ ]:
for isi in angka:
    print(isi)

In [ ]:
for isi in range(5,10):
    print(isi)

In [ ]:
for isi in range(0,10,2):
    print(isi)

In [ ]:
data = [1,2,3,4,5,4,3,2,1]
terbesar = data[0]
for i in range(len(data)):
    if data[i] > terbesar:
        terbesar = data[i]
print(terbesar)

In [ ]:
data = [1,2,3,4,5,4,3,2,1]
terbesar = data[0]
for angka in data:
    if angka > terbesar:
        terbesar = angka
print(terbesar)

In [ ]:
angka = [1,2,3,4,5,6,3,4,5,7,8,7]
angka_unik = []
for anggota in angka:
    if anggota not in angka_unik:
        angka_unik.append(anggota)
print(terbesar)

LIST 2 DIMENSI

In [ ]:
matrik = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]
print(matrik)

In [ ]:
matrik[1]

In [ ]:
matrik[1][2]

In [ ]:
matrik[1][2]=100
print(matrik[1][2])

In [ ]:
matrik

In [ ]:
for baris in matrik:
    print(baris)
    for kolom in baris:
        print(kolom)

TUPLES

In [ ]:
angka = (0,1,2,3,4,5)

In [ ]:
print(angka[0])

In [ ]:
print(angka[0:3])

In [ ]:
for isi in angka[0:3]:
    print(isi)

In [ ]:
angka[0] = 10

In [ ]:
angka.append(10)

In [ ]:
angka.remove(5)

In [ ]:
angka.count(1)

In [ ]:
angka.index(3)

DICTIONARIES

In [ ]:
data_orang = {
    "nama" : "Ketut Dogler",
    "umur" : 12,
    "apakah_single" : false
}

In [ ]:
print(data_orang['nama'])

In [ ]:
print(data_orang['Nama'])

In [ ]:
print(data_orang.get('nama'))

In [ ]:
print(data_orang.get('Nama'))

In [ ]:
print(data_orang.get('tanggal_lahir'))

In [ ]:
print(data_orang.get('tanggal_lahir', '2-2-2010'))

In [ ]:
print(data_orang)

In [ ]:
print(data_orang["tanggal_lahir"])

In [ ]:
data_orang['HP'] = '08123456789'

In [ ]:
print(data_orang["HP"])

In [ ]:
print(data_orang)

In [ ]:
angka = {
    "0" : "nol",
    "1" : "satu",
    "2" : "dua",
    "3" : "tiga",
    "4" : "empat",
    "5" : "lima",
    "6" : "enam",
    "7" : "tujuh",
    "8" : "delapan",
    "9" : "sembilan"
}

In [ ]:
nomor_HP = input("Masukan nomor HP anda ")
nomor_angka = ""
for isi in nomor_HP:
    nomor_angka += angka.get(isi) + " "
print(nomor_angka)

FUNGSI DALAM PHYTON

In [ ]:
def full_name(first_name,last_name):
    print(f"Nama lengkapnya adalah {nama_depan} {nama_belakang}")

In [ ]:
first_name = input("Nama depan anda adalah ")
last_name = input("Nama belakang anda adalah ")
full_name(nama_depan,nama_belakang)